In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv("D:\\Assignments\\assignment intallipaat\\supervised\\random forest\\ASSIGNMENT-4-8211-RANDOM-FOREST-21FEB2022165538\\diabetes-2.csv")

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
x=data.iloc[:,:8]

In [5]:
y=data.iloc[:,-1:]

In [6]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [7]:
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3)

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
forest=RandomForestClassifier()

In [13]:
forest.fit(x_train,y_train)

C:\Users\phani\AppData\Local\Temp/ipykernel_22952/802823506.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest.fit(x_train,y_train)

RandomForestClassifier()

In [14]:
y_predict=forest.predict(x_test)

In [15]:
from sklearn.metrics import confusion_matrix,accuracy_score

confusionmatrix=confusion_matrix(y_test,y_predict)
accuracyscore=accuracy_score(y_test,y_predict)

print('confusion-matrix :',confusionmatrix)
print('accuracy-score :',accuracyscore)

confusion-matrix : [[131  25]
 [ 34  41]]
accuracy-score : 0.7445887445887446